body {
  text-align: center;
}

.posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  justify-items: center;
}

.post {
  background-color: #3a3a3a;
  color: pink;

  border-radius: 10px;
  padding: 5px;
  width: 300px;
  height: 300px;
}